.fr-bookWindow {
    display: block;
    background-size: cover;
    z-index: 21;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.fr-bookWindow-bk {
    z-index: 1;
    display: block;
    background-size: 100% 100%;
    width: 50%;
    height: 50%;
    background-image: url('image/homePage/background.png');
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    overflow: hidden;
}

.fr-bookWindow-return {
    z-index: 7;
    background-size: 100% 100%;
    display: block;
    right: 7%;
    top: 6.8%;
    width: 4vw;
    height: 4vw;
}

.fr-bookWindow-openAchi-character {
    background-size: 100% 100%;
    left: 50%;
    top: 10%;
    background-repeat: no-repeat;
    background-image: url('image/homePage/button_character.png');
    width: 11%;
    height: 80%;
}

.fr-bookWindow-openAchi-game {
    background-size: 100% 100%;
    left: 63%;
    top: 10%;
    background-repeat: no-repeat;
    background-image: url('image/homePage/button_game.png');
    width: 11%;
    height: 80%;
}

.fr-bookWindow-openAchi-special {
    background-size: 100% 100%;
    display: block;
    left: 76%;
    top: 10%;
    background-repeat: no-repeat;
    background-image: url('image/homePage/button_special.png');
    width: 11%;
    height: 80%;
}

.fr-bookWindow-openReward{
    background-size: 100% 100%;
    left: 21%;
    top: 12%;
    background-repeat: no-repeat;
    background-image: url('image/homePage/button_reward.png');
    width: 23%;
    height: 30%;
}

.fr-bookWindow-scoreSheet-bk {
    background-size: 100% 100%;
    left: 20%;
    top: 47%;
    background-image: url('image/homePage/scoreSheet.png');
    width: 25%;
    height: 38%;
}

.fr-bookWindow-scoreSheet {
    background-size: 100% 100%;
    display: block;
    left: 34%;
    top: 12%;
    width: 32.1%;
    height: 65%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 13vh;
}

.fr-bookWindow-page-main {
    background-size: 100%;
    display: block;
    left: 8.6%;
    top: 18%;
    background-image: url('image/homePage/page_main.png');
    width: 7%;
    padding: 8.4% 0 0;
}

.fr-bookWindow-page-parts {
    background-size: 100%;
    display: block;
    left: 83.4%;
    top: 58%;
    transform: rotate(1deg);
    background-image: url('image/homePage/page_parts.png');
    width: 7%;
    padding: 8.4% 0 0;
}

.fr-bookWindow-page-world {
    background-size: 100%;
    display: block;
    left: 82.8%;
    top: 74%;
    background-image: url('image/homePage/page_world.png');
    width: 7.5%;
    padding: 9% 0 0;
}