@font-face{
	font-family:"得意黑";
	src:url("../font/SmileySans-Oblique.ttf")
}
body.loginpage {
        background-image: url("../img/background.jpg");
        background-size:cover;
}
.Me{
	text-align: center;
}
.Pagecenter{
	background-color:hsla(0,0%,20%,0.65);
	position: relative;
}
.Container{
	background-color:rgba(221,221,221,0.81);
	height:100px;
	margin: auto;
	border-radius:20px;
	margin-bottom:20px;
	text-align: center
}
.image{
	position:absolute;
	margin-top: 5px;
	margin-left: 15px;
	border-radius:15px;
	width: 90px;
	background-size:100% 100%;
}
.image img {
    width: 100%;
    height: 100%;
	border-radius:15px;
}
.text{
	font-size: 18px;
	font-family:"得意黑";
	width: 50%;
}